# --- VARIABLES DE ENTORNO (CRÍTICO) ---
.env
.env.local

# --- JAVA / MAVEN ---
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/mvnw
backend/mvnw.cmd

# --- ARCHIVOS DE EDITORES (IDE) ---
.vscode/
.idea/
*.iws
*.iml
*.ipr
backend/.classpath
backend/.project
backend/.settings/
backend/.factorypath

# --- SISTEMA ---
.DS_Store
Thumbs.db